<div class="contenedor">
    <div class="imagen">
        <img [src]="articulo.tipoImagen + articulo.imagen" alt="{{articulo.titulo}}">
        <div class="imagenFavorito" [innerHTML]='articulo.favorito | favorito'>&nbsp;</div>
    </div>
    <div class="contenidoDetalle">
        <h2>{{articulo.titulo | titlecase}}</h2>
        <div *ngIf="!rebajado">
            <small class="precio">{{articulo.precio | currency: 'EUR':'symbol':undefined:'es'}}</small>
        </div>
        <div *ngIf="rebajado">
            <small class="precio precioTachado">{{articulo.precio | currency: 'EUR':'symbol':undefined:'es'}}</small>
            <small class="precioRebajado">{{articulo.precioOferta | currency: 'EUR':'symbol':undefined:'es'}}</small>
        </div>
        <hr>
        <div class="colorDetalle">
            <p>Color: <b>Multicolor</b></p>
            <img class="imagenDetallePeq" [src]="articulo.tipoImagen + articulo.imagen" alt="{{articulo.titulo}}">
        </div>
        <hr>
        <div class="size">
            <p>Talla: <b>Elige talla</b></p>
            <div class="sizeInfo">3XS</div>
            <div class="sizeInfo">2XS</div>
            <div class="sizeInfo">XS</div>
            <div class="sizeInfo">S</div>
            <div class="sizeInfo">M</div>
            <div class="sizeInfo">L</div>
            <div class="sizeInfo">XL</div>
            <div class="sizeInfo">2XL</div>
            <div class="sizeInfo">3XL</div>
        </div>
        <hr>
        <div class="envio">
            <p>Disponibilidad en tienda</p>
            <button> Añadir a la cesta</button>
            <button [routerLink]="['/tienda']"> Volver</button>
        </div>
    </div>

</div>