<header>
    <h1>Lista de Categorías</h1>
</header>

<div class="alert alert-danger" role="danger" *ngIf="error">
    {{mensaje}}
</div>

<div class="botoneraHeader">
    <a routerLink="/backOffice/categoriaForm">
        <button id="btnNuevo" class="btn-primary">Nueva Categoría</button>
    </a>
</div>

<div class="containerFiltros">
    <h1>Filtros</h1>
    <form>
        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label for="categoria">Categoria</label>
                <input type="text" class="form-control" id="categoria" [(ngModel)]="filtroCategoria"
                    name="filtroCategoria">
            </div>

            <div class="form-group col-12 col-md-6">
                <label for="titulo">Titulo</label>
                <input type="text" class="form-control" id="titulo" [(ngModel)]="filtroTitulo" name="filtroTitulo">
            </div>
        </div>

        <div class="col-12 col-md3">
            <button id="btnBuscar" class="btn btn-secondary" (click)="buscar()">Buscar</button>
            <button id="btnClear" class="btn btn-secondary" (click)="clear()">Limpiar Campos</button>
        </div>
    </form>
</div>

<table>
    <thead>
        <th>ID</th>
        <th>Titulo</th>
        <th>Categoría</th>
        <th>Imagen</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        <tr *ngFor="let obj of lista;">
            <td>{{obj.id}}</td>
            <td>{{obj.titulo | titlecase}}</td>
            <td>{{obj.categoria | titlecase}}</td>
            <td><img class="imagenMinuatura" [src]="obj.tipoImagen + obj.imagen">
            </td>
            <td>
                <!--Botones de acción-->
                <a [routerLink]="['/backOffice/categoriaForm', obj.id]">
                    <button id="btnEditar" class="btn-secondary">Editar</button>
                </a>
                <button type="button" id="btnEliminar" class="btn-danger" data-bs-toggle="modal"
                    data-bs-target="#modalEliminar" attr.data-banner="{{obj.id}}"
                    (click)="prepararEliminar(obj.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="botoneraPaginacion">
    <button id="btnAtrasLista" [disabled]="first" class="btn btn-secondary btnAtras"
        (click)="navegarAnterior()">Anterior</button>
    <span>Pagina {{(page+1)}} - Elementos totales: {{totalElements}}</span>
    <button [disabled]="last" class="btn btn-secondary btnSiguiente" (click)="navegarSiguiente()">Siguiente</button>
</div>

<div class="botoneraFooter">
    <a routerLink="/backOffice">
        <button id="btnVolver" class="btn-secondary">Volver</button>
    </a>
</div>

<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarLabel">Confirmación de borrado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Realmente desea eliminar la categoría {{aEliminar}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="eliminar(aEliminar)">Eliminar</button>
            </div>
        </div>
    </div>
</div>