<header>
    <h1>Lista de articulos</h1>
</header>

<div class="alert alert-danger" role="danger" *ngIf="error">
    {{mensaje}}
</div>

<div class="botoneraHeader">
    <a routerLink="/backOffice/articuloForm">
        <button id="btnNuevo" class="btn-primary">Nuevo Articulo</button>
    </a>
</div>

<div class="containerFiltros">
    <h1>Filtros</h1>
    <form>
        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label for="categoria">Categoria</label>
                <input type="text" class="form-control" id="categoria" [(ngModel)]="filtroCategoria"
                    name="filtroCategoria">
            </div>

            <div class="form-group col-12 col-md-6">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" [(ngModel)]="filtroNombre" name="filtroNombre">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label for="precioDesde">Precio Desde</label>
                <input type="text" class="form-control" id="precioDesde" [(ngModel)]="filtroPrecioDesde"
                    name="filtroPrecioDesde">
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="precioHasta">Precio Hasta</label>
                <input type="text" class="form-control" id="precioHasta" [(ngModel)]="filtroPrecioHasta"
                    name="filtroPrecioHasta">
            </div>
        </div>

        <div class="col-12 col-md3">
            <button id="btnBuscar" class="btn btn-secondary" (click)="buscar()">Buscar</button>
            <button id="btnClear" class="btn btn-secondary" (click)="clear()">Limpiar Campos</button>
        </div>
    </form>
</div>

<table>
    <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Precio</th>
        <th>Favorito</th>
        <th>Precio Oferta</th>
        <th>Imagen</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        <tr *ngFor="let articulo of listaArticulos;">
            <td>{{articulo.id}}</td>
            <td>{{articulo.nombre | titlecase}}</td>
            <td>{{articulo.categoria | titlecase}}</td>
            <td>{{articulo.precio | currency: 'EUR':'symbol':undefined:'es'}}</td>
            <td>{{articulo.favorito}}</td>
            <td>{{articulo.precioOferta | currency: 'EUR':'symbol':undefined:'es'}}</td>
            <td><img class="imagenMinuatura" [src]="articulo.tipoImagen + articulo.imagen">
            </td>
            <td>
                <!--Botones de acción-->
                <a [routerLink]="['/backOffice/articuloForm', articulo.id]">
                    <button id="btnEditar" class="btn-secondary">Editar</button>
                </a>
                <button type="button" id="btnEliminar" class="btn-danger" data-bs-toggle="modal"
                    data-bs-target="#modalEliminar" attr.data-articulo="{{articulo.id}}"
                    (click)="prepararEliminar(articulo.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="botoneraPaginacion">
    <button id="btnAtrasLista" [disabled]="first" class="btn btn-secondary btnAtras"
        (click)="navegarAnterior()">Anterior</button>
    <span>Pagina {{(page+1)}} - Elementos totales: {{totalElements}}</span>
    <button [disabled]="last" class="btn btn-secondary btnSiguiente" (click)="navegarSiguiente()">Siguiente</button>
</div>


<div class="botoneraFooter">
    <a routerLink="/backOffice">
        <button id="btnVolver" class="btn-secondary">Volver</button>
    </a>
</div>

<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarLabel">Confirmación de borrado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Realmente desea eliminar el articulo {{articuloEliminar}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="eliminar(articuloEliminar)">Eliminar</button>
            </div>
        </div>
    </div>
</div>