#navbarSupportedContent{
    justify-content: flex-end;
}

.navbar-brand{
    color: #601d60;
    font-size: 30pt;
    text-shadow: 1px 3px 11px black;
}

.navbar{
    font-family: titleFont;
    font-size: 20pt;
}

.btn-outline-success{
    color: #601d60;
    border-color: #601d60;
    margin-left: 10px;
    text-shadow: 0 0 21px black;
}