#navbarSupportedContent{
    justify-content: flex-end;
}

.navbar-brand{
    color: purple;
    font-size: 30pt;
}

.navbar{
    font-family: titleFont;
    font-size: 20pt;
}

.btn-outline-success{
    color: purple;
    border-color: purple;
    margin-left: 10px;
}