#navbarSupportedContent{
    justify-content: flex-end;
}

.navbar-brand{
    color: #601d60;
    font-size: 30pt;
    text-shadow: 1px 3px 11px black;
}

.navbar{
    font-family: titleFont;
    font-size: 20pt;
}

.btn-outline-success{
    color: #601d60;
    border-color: #601d60;
    margin-left: 10px;
    text-shadow: 0 0 21px black;
}

.btn-outline-success:not(:disabled):not(.disabled):active{
    background-color: #601d60;
    border-color: #601d60;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #601d60;
    border-color: #601d60;
}
.btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem #601d607a;
}
.btn-outline-success:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem #601d607a;
}