<header>
    <h1 *ngIf="modoAlta">Nuevo articulo</h1>
    <h1 *ngIf="!modoAlta">Modifica articulo</h1>
</header>

<div class="alert alert-danger" role="danger" *ngIf="error">
    {{mensaje}}
</div>
<div class="alert alert-success" role="danger" *ngIf="succes">
    {{mensaje}}
</div>

<div class="contenedor">
    <form name="articuloForm" role="form" novalidate #editForm="ngForm" autocomplete="off">
        <div class="form-group" *ngIf="!modoAlta">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="articulo.id">
        </div>

        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="articulo.titulo" required
                maxlength="50" minlength="5">
        </div>

        <div [hidden]="!(editForm.controls.titulo?.dirty && editForm.controls.titulo?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.titulo?.errors?.required">
                El campo titulo es requerido
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.controls.titulo?.errors?.maxlength">
                El campo no puede superar los 50 carácteres
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.controls.titulo?.errors?.minlength">
                El campo no puede ser menor de 5 carácteres
            </small>
        </div>

        <div class="form-group">
            <label for="precio">Precio</label>
            <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="articulo.precio" required>
        </div>
        <div [hidden]="!(editForm.controls.precio?.dirty && editForm.controls.precio?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.precio?.errors?.required">
                El campo precio es requerido
            </small>
        </div>

        <div class="form-group">
            <label for="oferta">¿Incluir oferta?</label>
            <input type="checkbox" class="form-control" id="oferta" name="oferta" [(ngModel)]="oferta">
        </div>
        <div class="form-group" *ngIf="oferta">
            <label for="precioOferta">Precio de oferta</label>
            <input type="text" class="form-control" id="precioOferta" name="precioOferta"
                [(ngModel)]="articulo.precioOferta">
        </div>

        <div class="form-group">
            <label for="imagen">Imagen</label>
            <input type="file" class="form-control" id="imagen" name="imagen" (change)="procesarImagen($event)">
        </div>

        <div class="form-group">
            <label for="favorito">¿Favorito?</label>
            <input type="checkbox" class="form-control" id="favorito" name="favorito" [(ngModel)]="articulo.favorito">
        </div>
    </form>

    <div class="botoneraFooter">
        <a routerLink="/backOffice/articuloList">
            <button id="btnVolver" class="btn-secondary">Volver</button>
        </a>
        <button id="btnGuardar" [disabled]="editForm.form.invalid" id="btnGuardar" class="btn-primary"
            (click)="guardar()">Guardar</button>
    </div>
</div>