h1 {
    text-align: center;
    font-size: 30pt;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: titleFont;
    color: #392439;
    text-shadow: 1px 3px 11px black;
}

.contenedor{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
